#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #121212d2; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: none;
    flex-direction: column;
  }
  #sidenav #message-container {
    display: flex;
    flex-direction: column;
    height: 95%;
  
}
#sidenav #message-container .message{
    background-color: rgb(214, 189, 120);
  border : white;
  border-radius: 5px;
  margin:  5px 0;
  padding: 5px;
  height : 30px;
  color: #818181;
  display: flex;
}
#sidenav #message-container .message .username{
    margin:  auto;
  color: #818181;
  width:30%;
}
#sidenav #message-container .message .content{
    margin:  auto;
  color: #818181;
  width:70%;
}
#message-menu{
    height: 5%;
    margin:  5px 0;
    padding: 5px;
    color: #818181;
    display: flex;
    border : white;
    background-color: rgb(201, 199, 118);
    border-radius: 5px;
}
#message-menu input{
    width: 70%;
}
#message-menu button{
    width: 30%;
    color: black;
    background-color: bisque;
  }