body {
	margin: 0px;
    display: flex;
}
#Game{
    display: none;
    margin: auto;
}
#canvasLayerList {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    background-color: black;
}
#Form{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
#Form div {
    display: flex;
    justify-content: center;
    position :relative;
    flex-direction: column;
}
#Form div h1{
    margin: 15% auto auto auto;
}
#Form div input{
    margin: auto;
}
#Form div select{
    margin: auto;
}
#Form div label{
    margin: auto;
}
#Form div button{
    margin: auto;
}
#ground {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}


#img{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
}
#img img{
    margin: 5px;
    border-radius: 50%;
    border: 1px;
}
.img{
    margin: auto;
    display: block;
}
.img p{
    margin: auto;
    position:relative;
    bottom:50px;
    left:0px;
    opacity: 0;
}
.img:hover  p{
    transition: opacity 1s;  
    opacity: 1;
}
.img:hover  img{
    transition: ease-in-out 1s;  
    opacity: 1;
    filter: blur(5px);
}

#Disconnect{
    background-color: red;
    border-radius: 5px;
}